page {
  background-color: #eee;
}
.orderlist-page {
  .cart-null {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    .default-img {
      width: 248px;
      height: 248px;
      padding-top: 100px;
      margin: 0 auto;
    }
    .tips {
      padding-bottom: 60px;
      font-size: 28px;
      color: #7f7f7f;
    }
    .btn-shopping {
      margin-bottom: 40px;
      width: 300px;
      height: 80px;
      line-height: 80px;
      font-size: 28px;
    }
  }
  .order-item {
    margin-top: 26px;
    padding: 0 20px;
    background-color: #fff;
    .shop-name {
      line-height: 80px;
      font-size: 28px;
      border-bottom: solid 1px #eee;
    }
    .order-detail {
      border-bottom: solid 1px #eee;
    }
    .order-info {
      display: flex;
      position: relative;
    }
    .order-img {
      width: 170px;
      height: 170px;
      margin-right: 20px;
    }
    .order-img+.order-img{
      margin-left: 20px;
    }
    .order-name {
      padding-top: 25px;
      font-size: 28px;
      width: 550px;
      height: 80px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .order-price {
      padding-bottom: 16px;
      text-align: right;
    }
    .order-operate {
      padding: 20px 0;
      display: flex;
      justify-content: flex-end;
    }
    .btn-operate {
      margin-left: 20px;
      padding: 8px 12px;
      color: #7f7f7f;
      border: solid 1px #999;
      border-radius: 10px;
    }
  }
}

