page {
  background-color: #eee;
}
.cart-page {
  .cart-null {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    .default-img {
      width: 248px;
      height: 248px;
      padding-top: 100px;
      margin: 0 auto;
    }
    .tips {
      // padding: 40px;
      padding-bottom: 60px;
      font-size: 28px;
      color: #7f7f7f;
    }
    .btn-shopping {
      margin-bottom: 40px;
      width: 300px;
      height: 80px;
      line-height: 80px;
      font-size: 28px;
    }
  }
  .goods-item {
    display: flex;
    margin-top: 26px;
    padding: 30px 20px;
    background-color: #fff;
    .goods-info {
      width: 420px;
      position: relative;
    }
    .goods-img {
      width: 170px;
      height: 170px;
      margin-right: 20px;
    }
    .goods-name {
      font-size: 28px;
      height: 40px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .goods-desc {
      color: #7f7f7f;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .check {
      margin-top: 60px;
      margin-right: 20px;
    }
    .goods-price {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #b4282d;
      font-size: 28px;
    }
    .input-number {
      position: absolute;
      bottom: 0;
      right: 0;
      .at-icon {
        color: #333;
      }
    }
    .at-input-number, .at-input-number__input {
      border-color: #eee;
    }
    .at-input-number__btn {
      padding: 16px;
    }
  }
  .total-wrap {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    color: #7f7f7f;
    // justify-content: space-between;
    background-color: #fff;
    line-height: 100px;
    .check-icon {
      width: 66px;
    }
    .total-number {
      width: 200px;
      padding-left: 16px;
      font-size: 28px;
    }
    .total-price {
      width: 220px;
      margin-right: 16px;
      padding: 14px 0;
      line-height: 36px;
      text-align: right;
      .price {
        font-size: 28px;
        color: #b4282d;
      }
    }
    .at-button {
      width: 228px;
      height: 100px;
      line-height: 100px;
      border-radius: 0;
      font-size: 32px;
    }
  }
}

