page {
  background-color: #eee;
}

.orderDetail-page {
  padding-bottom: 150px;
  .info-box {
    margin-top: 26px;
    padding: 30px 26px;
    font-size: 28px;
    line-height: 60px;
    background-color: #fff;
  }
  .info-name {
    width: 146px;
    color: #7f7f7f;
    display: inline-block;
  }
  .real-pay {
    padding: 0 26px;
    border-top: solid 1px #eee;
    line-height: 100px;
    color: #b4282d;
    font-size: 28px;
    background-color: #fff;
    .info-name {
      color: #b4282d;
    }
  }
  .fix-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: solid 1px #eee;
    background-color: #fff;
  }
  .btn-operate {
    margin-right: 30px;
    padding: 12px;
    color: #7f7f7f;
    border: solid 1px #999;
    border-radius: 10px;
    font-size: 28px;
  }
}
