@import '../../app.scss';

.detail-swiper {
    height: 750px;
    .item-img {
        width: 100%;
        height: 750px;
    }
}
.detail-product {
    padding: 40px 30px 30px;
    font-size: 28px;
    .pro-name {
        font-size: 32px;
        padding-bottom: 10px;
    }
    .pro-desc {
        color: #7f7f7f;
    }
    .pro-price {
        padding-top: 8px;
        font-size: 36px;
        color: $color-brand-dark;
    }
}
.detail-introduce {
    padding-bottom: 100px;
    // padding: 0 30px 100px;
    // display: block;
    // line-height: 0;
    // .detail-img {
    //     width: 100%;
    // }
}
.detail-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 94px;
    border: 0;
    border-radius: 0;
    font-size: 28px;
    line-height: 100px;
    text-align: center;
    background: #faf9fa;
    border-bottom: 1px solid #ccc;
    .nav-icon-img {
        width: 46px;
        height: 46px;
        padding: 26px;
        margin: auto;
    }
    .nav-icon {
        width: 96px;
        height: 100%;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }
    // .nav-icon+.nav-icon {
        
    // }
    .nav-buy {
        width: 230px;
        height: 100%;
        color: #ffffff;
        background-color: $color-brand-dark;
    }
    .nav-cart {
        width: 230px;
        height: 100%;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }
}
// .detail-page {

// }